* {
    font-family: Cambria;
    --primary_color: rgba(128, 128, 128, 0.25);
    --secondary_color: rgba(0, 39, 56, 0.9);
    --primary_background: rgba(128, 128, 128, 0.25);
    --secondary_background: rgba(0, 39, 56, 0.9);
    --drugs_background: url(../images/Drugs.jpg);
}
body {
    background-image: linear-gradient(var(--primary_background), white);
}
.b_h_centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.b_boxed{
    min-width: 35rem;
    background-color: white;
    padding: 15px 20px 20px 20px;
    border: 1px solid grey;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}
.box-columned{
    display:flex;
    flex-direction: row;
    margin: .25rem;
}
.box-rowed {
    display: flex;
    flex-direction: column;
    margin: .25rem;
}
.box-centered {
    justify-content: center;
}
.b_brand{
    background-image: url('../images/logo.png');
}
.b_tool_section{
    width: 2rem;
    height: 100vh;
}
.b_side_tool_btn{
    margin-left:12rem;
    width: 100%;
    height:100vh;
}
.container-after-nav {
    margin-top: 5rem;
}
.illus-title {
    background: transparent;
    padding: .25rem;
    transition-delay: 500ms;
    transition: 500ms;
    text-transform: uppercase;
    padding: .5rem;
    border-left: 1px solid silver;
    margin: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .illus-title div {
        color: orange;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.block-link:hover{
    text-decoration: none;
}
.illu-title:hover{
   transform: scale(1.1);
}
.illustration {
    background-size: cover;
}
.illustration-block {
    background-size: cover;
    flex-grow: 1;
    transition: 500ms;
    background: var(--secondary_background);
    margin: .5rem;
}
    .illustration-block:hover {
        animation: block-hovering 2s infinite;
    }
.illus-group-row {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    overflow: hidden;
    background-size: cover;
}
.illus-group-col {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    overflow: hidden;
}
.illus-small{
    width: 12.5rem;
    height: 7.5rem;
}
.illus-medium{
    width: 20rem;
    height: 15rem;
}
.illus-large{
    width: 100%;
    height: 15rem;
    transition: none;
    background-size: auto;
}
.illus-large:hover{
    animation: none;
}
.illus-title-small{
    width: 15rem;
}
.illus-title-medium{
    width: 20rem;
}
.illus-title-large{
    width: 100%;
}

.illustration-drugs{
    background-image: url('../images/james-yarema-kdgiNc0sDeI-unsplash.jpg');
    background-size: contain;
}
.illustration-doctor{
    background-image: url('../images/cdc-zGzZvLO5Brs-unsplash.jpg');
    background-size: cover;
}
.illustration-pharmacy{
    background-image: url('../images/melany-tuinfosalud-com-F6clvre8fGg-unsplash.jpg');
    background-size: cover;
}
.illustration-icd{
    background-image: url('../images/freestocks-nss2eRzQwgw-unsplash.jpg');
}
.illustration-default{
    background-image: url("../images/anirudh-DhEQCtxSHXI-unsplash.jpg") !important;
}
.illustration-admin {
    background-image: url("../images/benjamin-salvatore-gfz8qqKcipo-unsplash.jpg") !important;
}
.background_Matte{
    background-image: url('../images/Background-Matte.svg');
    background-size: 100px 100px;
    background-repeat: repeat;
}

main{
}
/*ADMIN STYLES*/
.adm_layout{
    display: flex;
    text-decoration: none;
}
.adm_layout .b_boxed{
    border:0;
    box-shadow:0;
}
.adm_side_panel{
    background: var(--secondary_background);
}
.adm_main{
}
/*TABLE ELEMENT CLASSES*/
.tbl{
    display: flex;
    flex-direction: column;
    min-width: 35rem;
}
.tbl-head{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom:0;
    font-weight: bold;
}
.tbl-body{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.tbl-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
}
.tbl-body .tbl-row {
    background: white;
}
.tbl-body .tbl-row:hover{
    color: black;
    text-decoration: none;
}
.tbl-row div{
    margin: .250rem;
    padding: .25rem;
    width: 10rem;
}
/*BOOTSTRAP MODIFIED CLASSES*/
a{
    color: var(--secondary_color);
}
.btn-primary {
    background: var(--secondary_color)
}
.btn-primary:hover{
    color: var(--secondary_color);
    background: white;
}
.pagination{
    margin:1rem;
}
.dropdown-item{
    transition: 250ms;
}
.dropdown-item:hover{
    background: var(--secondary_color);
    color: white;
}
.pagination .page-link {
    color: black;
}
.pagination .active .page-link{
    color: white;
    background: var(--secondary_background);
    border-color: var(--secondary_background);
}
.pagination .page-item, .page-link .disabled{
    color: silver;
}
/*CUSTOM CLASSES CONTINUED*/
.logout-item {
    color: red;
}

.logout-item:hover {
        background: red;
        color: white;
}
@keyframes block-hovering{
    0%{
        transform: scale(1.01,1);
    }
    100%{
        border-bottom: 0;
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
    .b_boxed{
        min-width: 20em;
    }
}