@*<div lascs="illus-group-row">
    <div class="illustration-block illus-large box-rowed box-centered">
        <form asp-controller="Patient" asp-action="Index" method="get">
            <div class="form-group row">
                <div class="col">
                    <div class="col"><label>View Prescription:</label></div>
                    <div class="col">
                        <input class="form-control" type="text" name="idNumber" />
                    </div>
                </div>
            </div>
            <div class="box-columned">
                <div class="col box-columned box-centered" >
                    <button type="submit" class="btn btn-primary">View priscription</button>
                </div>
            </div>
        </form>
    </div>
</div>*@
<hr />
<div class="illus-group-col">
    <div class="illus-group-row">
        <a asp-controller="Prescription" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-prescription illus-medium">

            </div>
            <div class="illus-title illus-title-medium">
                <div>
                    <h4>View Prescriptions</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="illus-group-row">
        <a asp-controller="MedicalRecord" asp-action="Index" class="block-link">
            <div class="illustration-block illustraion-history illus-medium">
                
            </div>
            <div class="illus-title illus-title-medium">
                <div>
                    <h4>View Medical History</h4>
                </div>
            </div>
        </a>
    </div>
</div>
