<div class="illus-group-col">
    <div class="illus-group-row">
        <a asp-controller="Prescription" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-prescription illus-medium">

            </div>
            <div class="illus-title illus-title-medium">
                <div>
                    <h4>View Prescriptions</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="illus-group-row">
        <a asp-controller="MedicalRecord" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-history illus-medium">
                
            </div>
            <div class="illus-title illus-title-medium">
                <div>
                    <h4>View Medical History</h4>
                </div>
            </div>
        </a>
    </div>
</div>
