@model IndexViewModel
@{
    ViewData["Title"] = "Home";

}
<h1>WELCOME</h1>
<div  class="illus-group-row">
    <a asp-controller="Medication" asp-action="Index" class="block-link">
        <div class="illustration-block illustration-drugs illus-large">

        </div>
        <div class="illus-title">
            <div>
                <h4>Medication</h4>
            </div>
        </div>
    </a>
</div>

<hr />
<div class="illus-group-col">
    <div  class="illus-group-row">
        <a asp-controller="Doctor" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-doctor illus-small">

            </div>
            <div class="illus-title illus-title-small">
                <div>
                    <h4>Doctor</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="illus-group-row">
        <a asp-controller="Pharmacy" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-pharmacy illus-small">

            </div>
            <div class="illus-title illus-title-small">
                <div>
                    <h4>Pharmacies</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="illus-group-row">
        <a asp-controller="Pharmacist" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-pharmacist illus-small">

            </div>
            <div class="illus-title illus-title-small">
                <div>
                    <h4>Pharmacists</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="illus-group-row">
        <a asp-controller="ConditionDiagnosis" asp-action="Index" class="block-link">
            <div class="illustration-block illustration-icd illus-small">

            </div>
            <div class="illus-title illus-title-small">
                <div>
                    <h4>ICD</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<hr />


