@model AddPatientViewModel
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="text-center">Add</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Patient" asp-action="Add">
    <div class="form-group row">
        <div class="form-group col">
            <div class="col-8"><label>ID Number:</label></div>
            <div class="col-12">
                <input asp-for="User.IdNumber" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="User.IdNumber"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="form-group col">
            <div class="col-8"><label>First Name:</label></div>
            <div class="col-12">
                <input asp-for="User.FirstName" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="User.FirstName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Last Name:</label></div>
            <div class="col-12">
                <input asp-for="User.LastName" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="User.LastName"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col">
            <div class="col-8"><label>Email Address:</label></div>
            <div class="col-12">
                <input asp-for="User.EmailAddress" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="User.EmailAddress"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Contact Number:</label></div>
            <div class="col-12">
                <input asp-for="User.ContactNumber" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="User.ContactNumber"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col">
            <div class="col-8"><label>Address Line 1:</label></div>
            <div class="col-12">
                <textarea asp-for="User.AddressLine1" class="form-control"></textarea>
                <span class="text-secondary">Street address, P.O box, Company name, c/o</span>
            </div>
            <div class="col">
                <span asp-validation-for="User.AddressLine1"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Address Line 2:</label></div>
            <div class="col-12">
                <textarea asp-for="User.AddressLine2" class="form-control"></textarea>
                <span class="text-secondary">Apartment, suite, unit, building, floor, etc</span>
            </div>
            <div class="col">
                <span asp-validation-for="User.AddressLine2"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col">
            <div class="col-8"><label>City/Suburb:</label></div>
            <div class="col-12">
                <select asp-for="User.SuburbID"
                        asp-items="@(new SelectList(ViewBag.Suburbs, "SuburbID",
                                        "Name"))"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Province:</label></div>
            <div class="col-12">
                <select asp-for="User.ProvinceID"
                        asp-items="@(new SelectList(ViewBag.Provinces, "ProvID",
                                        "Name"))"
                        class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col">
            <div class="col-8"><label>Password:</label></div>
            <div class="col-12">
                <input asp-for="UserDetails.Password" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="UserDetails.Password"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Confirm Password:</label></div>
            <div class="col-12">
                <input asp-for="UserDetails.ConfPassword" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="UserDetails.ConfPassword"
                      class="text-danger"></span>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="UserDetails.Role" value="Patient" />
    <div class="form-group row">
        <div class="col">
            <div class="col-8">
                <span></span>
            </div>
        </div>
        <div class="col">
            <div class="offset-8 col-8">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</form>

