@model PrescMedicationAnalytic
@{
    ViewData["Title"] = "Medication Analysis";
}
<div>
    <div class="illustration-block illus-for-chart bg-grey">
        <canvas id="medicationChart" width="400" height="400"></canvas>
        <script src="~/lib/chart.js/chart.min.js"></script>
        <script>
            const medCtx = document.getElementById('medicationChart').getContext('2d');
            const medChart = new Chart(medCtx, {
                type: 'doughnut',
                data: {
                    labels: [@{
                foreach (var r in Model.MedCountList)
                {
                    @Html.Raw("'"+ r.Key +"',")
                }
            }],
                    datasets: [{
                        label: 'Medication',
                        data: [@{
                foreach (var r in Model.MedCountList)
                {
                    @Html.Raw(r.Value + ",")
                }
            }],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(0, 39, 56, 0.9)',
                            'rgba(0, 39, 56, 0.9)',
                            'rgba(0, 39, 56, 0.9)',
                            'rgba(0, 39, 56, 0.9)',
                            'rgba(0, 39, 56, 0.9)',
                            'rgba(0, 39, 56, 0.9)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>
